<!-- Razeen Rahman - 300877261 - 2023.10.07 -->
<!-- default.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=devide-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="img/favicon.png">
        <link rel="Stylesheet" href="css/main.css">
        <title><%- title %></title>
    </head>
    <body>
        <%- include('../partials/banner.ejs') %>
        <main><%- body %></main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>