<!-- Razeen Rahman - 300877261 - 2023.10.07 -->
<!-- about.ejs -->

<div class="content splash">
    <div class="splashText splashHeader">
        About Razeen Rahman
    </div>
    <div class="splashText splashSubHeader">
        > Student - Centennial College <br>
        <div class="splashText splashNorm">
            > Software Engineering Technology <br>
            > Student ID: 300877261 <br>
            > School Email: rrahma20@my.centennialcollege.ca 
        </div>
        > Developer - Specialized in web technologies <br>
        <div class="splashText splashNorm">
            > HTML, CSS, PHP, JavaScript and Node.js Base <br>
            > Express frontext with EJS and EJS Layouts <br>
            > PHP and Express backend <br>
            > MySQL and MongoDB Serverside <br>
            > Basic HTML5 game development
        </div>
        > PC Builder - Custom PC's for specific workload
        <div class="splashText splashNorm">
            > Familiar with every part of a desktop PC <br>
            > Understands which parts matter for what applications <br>
        </div>
        > Photographer - Portrait and Event Photography
        <div class="splashText splashNorm">
            > DSLR Photography with a Canon Rebel T5i
        </div>
    </div>
    <div class="splashLink alignLeft">
        <a href="home">Return Home</a>
    </div>
</div>