<!-- Razeen Rahman - 300877261 - 2023.10.07 -->
<!-- contact.ejs -->

<div class="content splash">
    <div class="splashText splashTitle">
        Please Contact Us
    </div>
    <br>

    <!-- Contact Information -->
    <div class="splashText splashHeader">
        Contact Information
    </div>
    <div class="splashText splashSubHeader">
        > Email: razeen.hr@gmail.com <br>
        > Phone: 647 994 7895
    </div>

    <!-- Contact Form -->
    <div class="splashText splashHeader">
        Contact Form
    </div>
    <br>
    <form name="contactForm" class="splashForm" action="home" method="get">
        Email: <input name="email" type="email" placeholder="johndoe@email.com"><br>
        Name : <input name="name" type="text" placeholder="John Doe"><br>
        <textarea name="emailContact" placeholder="Your Message"></textarea><br>
        <input name="email" type="submit" value="Submit">
    </form>
</div>