<!-- Razeen Rahman - 300877261 - 2023.10.07 -->
<!-- index.ejs -->

<div class="content splash">
    <div class="splashText splashHeader alignLeft">RazzBerry Technologies</div>
    <div class="splashText splashNorm">
        Welcome to my portfolio! Feel free to take a look around.
    </div>
    <div class="splashText splashSubHeader alignLeft">
        > Razeen Rahman <br>
        > Web Developer
    </div>
    <br>
    <div class="splashLink alignLeft">
        <a href="about">Learn More</a>
    </div>
</div>
<div class="content splash">
    <div class="splashText splashHeader alignLeft">
        Projects & Services
    </div>
    <div class="splashText splashSubHeader alignLeft">
        > Web Development <br>
        > PC Building <br>
        > Game Development<br>
        > Photography <br>
        > And More...
    </div>
    <br>
    <div class="splashLink alignLeft">
        <a href="projects">Projects</a>
        <a href="services">Services</a>
    </div>
</div>
<div class="content splash">
    <div class="splashText splashSubHeader alignCenter">
        Please feel free to contact us for more information!
    </div>
    <br>
    <div class="splashLink alignLeft">
        <a href="contact">Contact</a>
    </div>
</div>
