<!-- index.ejs -->

<div class="content splash">
    <div class="splashText splashHeader">RazzBerry Technologies</div>
    <div class="splashText splashSubHeader">
        > Razeen Rahman <br>
        > Web Developer
    </div>
    <br><br>
    <a href="about" class="splashLink">Learn More</a>
</div>
<div class="">

</div>