<!-- Razeen Rahman - 300877261 - 2023.10.07 -->
<!-- index.ejs -->

<div class="content splash">
    <div class="splashText splashTitle alignCenter">RazzBerry Technologies</div>
    <div class="splashText splashSubHeader">
        Welcome to my portfolio! Feel free to take a look around.
    </div>
    <div class="splashText splashSubHeader alignLeft">
        > Razeen Rahman <br>
        > Web Developer
    </div>
    <br>
    <div class="splashLink alignLeft">
        <a href="about">Learn More</a>
    </div>
</div>
<div class="content splash">
    <div class="splashText splashHeader alignLeft">
        Projects & Services
    </div>
    <div class="splashText splashSubHeader alignLeft">
        > Web Development <br>
        > PC Building <br>
        > Game Development<br>
        > Photography <br>
        > And More...
    </div>
    <br>
    <div class="splashLink alignLeft">
        <a href="projects">Projects</a>
        <a href="services">Services</a>
    </div>
</div>
<div class="content splash">
    <div class="splashText splashSubHeader alignCenter">
        Please feel free to contact us for more information!
    </div>
    <br>
    <div class="splashLink alignLeft">
        <a href="contact">Contact</a>
    </div>
</div>

<div class="content splash">
    <script>
        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
        
        var name = '';
        var email = '';
        var text = '';

        if(urlParams.get('name') != null) {
            name = urlParams.get('name');
        }
        if(urlParams.get('email') != null) {
            email = urlParams.get('email');
        }
        if(urlParams.get('emailContact') != null) {
            text = urlParams.get('emailContact');
        }

        if(name != '' && email != '' && text != '') {
            document.write('<div class="splashText splashHeader">Form Information</div>');
            document.write('<div class="splashText splashSubHeader">');
            document.write('> Name: ' + name + '<br>');
            document.write('> Email: ' + email + '<br>');
            document.write('> Text: ' + text);
            document.write('</div>');
        }
    </script>
</div>