<!-- Razeen Rahman - 300877261 - 2023.10.07 -->
<!-- projects.ejs -->

<div class="content splash">
    <div class="splashText splashTitle alignCenter">Razeen's Projects</div>
    <div class="splashText splashSubHeader">

    </div>
</div>