<!-- Razeen Rahman - 300877261 - 2023.10.07 -->
<!-- projects.ejs -->

<div class="content splash">
    <div class="splashText splashTitle alignCenter">Razeen's Projects</div>
    <br>
    <!-- NASTServices Web Development Project -->
    <div class="splashText splashHeader">
        Buisness Website: NASTServices
    </div>
    <div class="splashImage">
        <img src="img/nastServ.jpg">
    </div>
    <div class="splashText splashNorm alignCenter">
        Responsible for the design and functionality of the entire website.
    </div>
    <div class="splashText splashSubHeader">
        > Business information website <br>
        > Local guide services for tourists in Saudi Arabia <br>
        > Marketed to Tourists going for religious pilgirmage
    </div>
    <div class="splashLink">
        <a href="https://nastservices.com/" target="_blank">Visit Website</a>
    </div>
    <br>

    <!-- Bug Exterminator Game Development Project -->    
    <div class="splashText splashHeader">
        HTML5 Game: Bug Exterminator
    </div>
    <div class="splashImage">
        <img src="img/bugKiller.jpg">
    </div>
    <div class="splashText splashNorm alignCenter">
        Responsible for the design and functionality of the full game.
    </div>
    <div class="splashText splashSubHeader">
        > HTML5 Canvase based game <br>
        > Goal: Exterminate the bugs as fast as you can <br>
        > Increasing difficulty over time
    </div>
    <div class="splashLink">
        <a href="applets/bugEx" target="_blank">Play Game</a>
    </div>
    <br>

    <!-- AMD Gaming PC Build Project -->
    <div class="splashText splashHeader">
        PC Build: AMD Ryzen 5 Gaming PC
    </div>
    <div class="splashImage">
        <img src="img/pcBuild.jpg">
    </div>
    <div class="splashText splashNorm alignCenter">
        Responsible for the entire build process from purchase to functioning desktop.
    </div>
    <div class="splashText splashSubHeader">
        > CPU: AMD Ryzen 3600X <br>
        > GPU: AMD Gygabyte RX570 <br>
        > RAM: G.Skill Ripjaws 16GB DDR4 3200 <br>
        > SSD: Kingston M.2 1TB NVMe SSD <br>
        > MBo: MSI B450 AM4 ATX Motherboard <br>
        > Cas: Corsair 275R glass panel ATX Mid-Tower <br>
        > PSU: EVGA 600W 80Plus Bronze Power Supply
    </div>
</div>