<!-- Razeen Rahman - 300877261 - 2023.10.07 -->
<!-- services.ejs -->

<div class="content splash">
    <div class="splashText splashTitle alignCenter">
        Our Services
    </div>
    <br>

    <!-- Web Development Services -->
    <div class="splashText splashHeader">
        Web Development Services
    </div>
    <div class="splashImage">
        <!-- Free to use Image (By: Ferenc Almasi) under the Uplash License -->
        <img src="img/webDev.jpg">
    </div>
    <div class="splashText splashNorm">
        Image Credit: Ferenc Almasi
    </div>
    <div class="splashText splashSubHeader">
        > Custom, full functionality websites
    </div>
    <br>

    <!-- Photography Services -->
    <div class="splashText splashHeader">
    
    </div>
    <div class="splashImage">
        <!-- Free to use Image (By: Reinhart Julian) under the Uplash License -->
        <img src="img/photoServ.jpg">
    </div>
    <div class="splashText splashNorm">
        Image Credit: Reinhart Julian
    </div>
    <div class="splashText splashSubHeader">
        > Portrait and Event photography
    </div>
    <br>

    <!-- PB Building Services -->
    <div class="splashText splashHeader">
        PC Building Services
    </div>
    <div class="splashImage">
        <!-- Image Copyright 2020 Balkouras all rights reserved -->
        <img src="img/pcBuildServ.jpg">
    </div>
    <div class="splashText splashNorm alignCenter">
        Image Credit: Balkouras
    </div>
    <div class="splashText splashSubHeader">
        > Custom PC Builds for your workload
    </div>
    <br>

    <!-- Link to Contact and Services -->
    <div class="splashText splashNorm alignCenter">
        For more information view our projects or contact us!
    </div>
    <div class="splashLink">
        <a href="projects">Our Projects</a>
        <a href="contact">Contact Us</a>
    </div>
</div>