/* Razeen Rahman - 300877261 - 2023.10.07 */
/* main.css */

/* Variables */
:root {
    --bg: linear-gradient(0deg, #0E0D1D, #231F44);
    --white: #FEFEFE;
    --dark: #0E0D1D;
    --accent: #4b8faf; }

/* Testing Element Styles */
* { outline: solid 0px #FEFEFE; }
.content { outline: solid 0px #FEFEFE; }

/* General Element Styles */
html {
    height: 100%;
    background-image: var(--bg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Courier New'; color: var(--white);
    padding: 0px; margin: 0px; }
a {
    text-decoration: none;
    cursor: pointer;
    color: inherit; }

/* Main Element Styles */
@media only screen and (max-width: 1024px) {
    #banner {
        height: 72px; }
    .bannerLogo { 
        float: center;
        height: 32px; }
    .bannerNav { 
        float: center; }
    .splashLink {
        white-space: nowrap; }}
@media only screen and (min-width: 1025px) {
    #banner {
        height: 32px; }
    .bannerLogo { 
        float: left;
        height: 32px; }
    .bannerNav { 
        float: right; }}

/* Banner Styles */
#banner {
    position: flex;
    line-height: 32px;
    top: 0px; left: 0px; right: 0px;
    padding: 16px;
    font-size: 18px;
    text-align: center; }
.bannerNav a { 
    margin: 16px;
    transition: color 0.2s; }
.bannerNav a:hover { 
    color: var(--accent); }

/* Content Styles */
.content {
    position: flex;
    left: 0px; right: 0px; }

.splash {
    padding: 24px 64px; }

.splashText {
    text-align: left;
    font-weight: bold; }
.splashTitle {
    font-size: 48px;
    text-decoration: underline; }
.splashHeader {
    font-size: 32px; }
.splashSubHeader {
    font-size: 24px;
    padding: 16px; }
.splashNorm {
    font-size: 24px;
    padding: 24px; }

.splashImage {
    text-align: center;
    padding: 16px; }
.splashImage img {
    width: 100%; }
.round {
    border-radius: 100%; }

.splashLink {
    margin: 16px; }
.splashLink a {
    border: solid 1px #FEFEFE;
    padding: 16px 64px;
    text-shadow: 0px 0px 3px #222222;
    transition: 0.5s }
.splashLink a:hover {
    background: var(--accent); }

/* Form Styles */
.splashform {
    padding: 16px;
}
input[type="text"], input[type="email"] {
    padding: 8px; margin: 4px;
    width: 384px;
}
textarea {
    resize: none;
    padding: 8px; margin: 4px 0px;
    width: 458px;
    height: 100px;
}
input[type="submit"] {
    background: transparent;
    color: var(--white);
    font-family:'Courier New';
    border: solid 1px #FEFEFE;
    padding: 8px; margin: 0px;
    width: 476px;
    transition: 0.5s;
    cursor: pointer;
}
input[type="submit"]:hover {
    background: var(--accent);
}

/* Alignment Styles */
.alignLeft {
    text-align: left; }
.alignCenter {
    text-align: center; }
.alignRight {
    text-align: right; }